:root {
    --primary-background: #998b7b;
    --secondary-background: #d4ccb0;
    --primary-text: #7894b0;
    --secondary-text: #94a6bb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header Styles Start */
header {
    text-align: center;
    padding: 10px 0 10px;
    background-color: var(--secondary-background);
}

header h1 {
    width: 100%;
    color: var(--secondary-text);
    font-size: 44px;
    font-weight: normal;
}

.accent-color {
    color: var(--primary-text);
    font-weight: bolder;
}

header h2 {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    opacity: 0.5;
}
/* Header Styles End */

/* Aside Styles Start */

/* Media Queries Start */
@media screen and (min-width: 576px) {

    /* Header Styles Start */
    header {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 769px) {

    /* Header Styles Start */
}

@media screen and (min-width: 981px) {

    /* Header Styles Start */
    header {
        padding: 50px 0 50px;
    }
}